.postsListCss {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.postListItemCss {
  border-bottom: 2px solid #000;
  margin: 25px 0;
}
.postListItemCss:first-child {
  margin-top: 0;
}

.postTeaserCss {
  padding: 0 25px;
}
.postTeaserTitleCss {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}
.postTeaserDescriptionCss {
  margin: 15px 0;
}
.postTeaserLinkCss {
  color: inherit;
  text-decoration: inherit;
}
