{
    "plugins": [
      "transform-flow-strip-types",
      "transform-object-rest-spread",
      ["transform-class-properties", { "spec": true }]
    ],
    "presets": [
      [ "env", {
        "targets": {
          "chrome": 52,
          "browsers": ["last 2 versions", "safari 7"]
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": true
      }],
      "react"
  ]
}
