{
  babelrc: false,
  "presets": [
    'stage-0',
    'es2015',
    'react',
  ],
  "plugins": [
    'add-module-exports',
    'transform-flow-strip-types',
    'transform-runtime',
    'lodash',
  ],
}
