{
  "presets": [
    ["env", {
      "targets": {
        "node": 4.0
      },
    }],
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-async-to-generator",
  ]
}
