
**/coverage/**
**/node_modules/**
bin/
packages/*/dist/**
packages/*/lib/**
packages/*/scripts/**
**/dist/*
**/public/*
**/__testfixtures__/**
**/__tests__/fixtures/**
peril
docs
starters
benchmarks
e2e-tests
examples
integration-tests
**/*.d.ts
deprecated-packages

packages/*/*.js
packages/gatsby-source-shopify/**/*.js
packages/gatsby-plugin-preload-fonts/prepare/*.js
packages/gatsby/cache-dir/commonjs/**/*
packages/gatsby-codemods/transforms
packages/gatsby-source-graphql/batching
packages/gatsby-plugin-gatsby-cloud/components
packages/gatsby-plugin-gatsby-cloud/context
packages/gatsby-plugin-gatsby-cloud/models
packages/gatsby-plugin-gatsby-cloud/utils
packages/gatsby-plugin-preact/fast-refresh

packages/gatsby-source-wordpress/test-site/**
!packages/gatsby-source-wordpress/test-site/__tests__
!packages/gatsby-source-wordpress/test-site/test-utils
!packages/gatsby-worker/src/__tests__/fixtures/**
