* text=auto eol=lf

# These files are binary and should be left untouched
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.ttf binary
*.otf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pdf binary
*.tar.gz binary
*.zip binary
*.7z binary
