# branches to build
branches:
  # whitelist
  only:
    - 1.0
    - master

platform:
  - Any CPU

environment:
  matrix:
  - example: client-only-paths

  - example: gatsbygram

  - example: hn

  - example: no-plugins

  - example: no-trailing-slashes

  - example: using-drupal

  - example: using-postcss-sass


# Test against the latest version of this Node.js version
environment:
  nodejs_version: "6"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version
  - npm install --global windows-build-tools
  - npm install -g gatsby-dev-cli@canary
  - git checkout 1.0
  - npm install

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  # run tests
  - npm test
  - npm run build
  - cd examples/%example%
  - npm install
  - gatsby-dev --set-path-to-repo ../..
  - gatsby-dev --scan-once
  - npm test
  - npm run build


# Don't actually build.
build: off
deploy: off
