# All files must be reviewed by the core team, unless they are owned by other team
*                                               @gatsbyjs/core

# All docs must be reviewed by the docs team.
/docs/                                          @gatsbyjs/learning
**/README.md                                    @gatsbyjs/learning

# The website auto-deploys, so we need an extra check to avoid shenanigans.
/www/                                           @gatsbyjs/website

# Themes

/docs/docs/themes/                              @gatsbyjs/themes-core
/themes/                                        @gatsbyjs/themes-core
/packages/gatsby-plugin-mdx/                    @gatsbyjs/themes-core
/packages/gatsby/src/bootstrap/load-themes      @gatsbyjs/themes-core
/packages/gatsby-recipes/                       @gatsbyjs/themes-core
/packages/gatsby-admin/                         @gatsbyjs/themes-core
/packages/gatsby/src/internal-plugins/webpack-theme-component-shadowing/   @gatsbyjs/themes-core
