$color: pink;

@mixin borderRadius ($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.sass-nav-example {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    @include borderRadius(3px);

    background: $color;
    display: block;
    margin-right: 6px;
    padding: 3px 9px;
    text-decoration: none;
  }
}

.the-sass-class {
  text-decoration: underline;
}
