[data-testid="global-style"] {
  position: relative;
  z-index: 9001; /* it's over 9000 */
}

.dog-background {
  background: url("/dog-thumbnail.jpg");
  width: 640px;
  height: 427px;
}

.merriweather {
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 18px;
}

.merriweather-300 {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 18px;
}

.merriweather-300-italic {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}

.dog-background-flip {
  background: url("//localhost:9000/dog-thumbnail-flip.jpg");
  width: 640px;
  height: 427px;
}

.dog-background-dither {
  background: url("http://localhost:9000/dog-thumbnail-dither.jpg");
  width: 640px;
  height: 427px;
}
