body {
  --teal: rgb(102, 185, 191);
  --darkTeal: rgb(7, 128, 146);
  --white: rgb(255, 255, 255);
  --lightWhite: rgba(255, 255, 255, 0.88);
  --darkGray: rgb(34, 34, 34);
  --darkBlue: rgb(40, 44, 53);
  --almostBlack: rgb(26, 26, 26);
  --opaqueLightYellow: rgba(255, 229, 100, 0.2);
  --opaqueLightWhite: hsla(0, 0%, 100%, 0.2);
  --lightGray: hsla(0, 0%, 0%, 0.2);
  --slateBlue: hsl(222, 14%, 25%);
  background-color: var(--bg);
}

body.light {
  --bg: var(--white);
  --header: var(--teal);
  --textNormal: var(--darkGray);
  --textTitle: var(--darkGray);
  --textLink: var(--darkTeal);
  --hr: var(--lightGray);
  --inlineCode-bg: var(--opaqueLightYellow);
  --inlineCode-text: var(--almostBlack);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: var(--darkBlue);
  --header: var(--white);
  --textNormal: var(--lightWhite);
  --textTitle: var(--white);
  --textLink: var(--teal);
  --hr: var(--opaqueLightWhite);
  --inlineCode-bg: var(--slateBlue);
  --inlineCode-text: var(--lightWhite);
}
