body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: black;
  padding: 10px;
}

.app {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.page {
  color: white;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-family: Times;
  padding-top: 20px;
}
