body {
  font-family: sans-serif;
}

picture,
img,
video {
  width: 100%;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > * {
  flex: 0 1 420px;
  padding: 10px;
  overflow: hidden;
}

.screenshots {
  display: flex;
  justify-content: space-between;
}
.screenshots > * {
  flex: 0 1 30%;
}
