dist
build
.build
logfile
.nyc_output
coverage
public

.git/*
.DS_Store
.npmrc
.yarnclean
.eslintignore
.prettierignore
.upignore
.npmignore
.gitignore
.dockerignore
.yarnrc
.haxt
.flowconfig
.firebaserc
.graphqlconfig
.editorconfig
.next
_next

license
yarn.lock
Dockerfile.*
Dockerfile

_env*ac
.env.*
*.env
*.ico
*.html
*.xml
*.log
*.svg
*.map
*.png
*.snap
*.txt
*.sketch
*.ttf
*.eot
*.ttf
*.woff
*.woff2
*.out
*.dms
*.sh
*.tar.gz
*.pem
*.jpg
*.gif
*.graphcool
*.re
*.wasm
*.yml
*.toml
*.jar
*.zip
node_modules/
handlers-build/
public/
src/auth/

