{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": [".eslintrc", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
