.blog-nav {
	margin: 20px 0px 10px;
}
.blog-nav ul {
	list-style: none;
	padding-left: 0;
}
.blog-nav ul li {
	margin: 10px 0 10px;
}
.blog-nav ul li a {
	font-size: 16px;
	line-heigh: 26px;
	margin-bottom: 26px;
	border-bottom: 0;
	font-weight: 400;
	color: #222;
}
.blog-nav ul li a.current {
	border-bottom: 1px solid;
}
.blog-nav ul li a:hover {
	border-bottom: 1px solid;
}