.container {
  display: flex;
  flex-direction: column;
}

.main-image {
  flex: 1;
}

.thumbnails {
  display: flex;
  flex-direction: row;

  padding: 1rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.thumbnail {
  outline: none;
  margin: 0.5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.125);
}

.thumbnail:focus {
  border: 1px solid rebeccapurple;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .thumbnails {
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    overflow-y: scroll;
  }
}

.active {
  border-color: rebeccapurple !important;
}
