#agility-preview-bar {
    position: fixed;
    z-index: 4;
    background-color: #ebebeb;
    color: #000;
    padding: 4px;
    font-size: 10px;
    border-bottom-right-radius: 4px;

}

#agility-clear-preview {
    color: #000;
    margin-left: 4px;
    padding: 1px 3px;
    font-size: 8px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}