{
  "plugins": [
    [
      "babel-plugin-search-and-replace",
      {
        "rules": [
          {
            "search": "babel-rc-test",
            "replace": "babel-rc-is-used",
            "searchTemplateStrings": true
          }
          
        ]
      }
    ]
  ],
  "presets": [
    "babel-preset-gatsby"
  ]
}