$pageBackground: #f4fa58;

.page {
  background: $pageBackground;
  padding: 4rem;
}
.header {
  font-size: 4rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
}
.link {
  background: #fe2e2e;
  color: #fbfbef;
  font-size: 2rem;
}
