$pageBackground: #F4FA58;

.page {
  background: $pageBackground;
  padding: 4rem;
}
.header {
  font-size: 4rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
}
.link {
  background: #FE2E2E;
  color: #FBFBEF;
  font-size: 2rem;
}
