@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body { font-family: 'Inter', sans-serif; }

main {
  max-width: 95%;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h3 { 
  display:inline-block

}

input, textarea, h3 {
  width: 31%;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  resize: none;
  font-family: 'Inter', sans-serif;
}

button {
  background: #333;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 3px;

}
.rows-container {
  padding-bottom: 400px;
}